<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Documen</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
    <!-- <div class="root"> -->
        <!-- <input type="color" class="changeBgColor">
        <input type="color" class="changeColor"> -->
        <!-- <div class="wrapper"></div> -->
        <div class="context-menu">
            <div class="toolbar">
                <div class="rect-1"></div>
                <div class="line-1"></div>
                <div class="line-2"></div>
                <div class="line-3"></div>
            </div>
            <div class="create">
                <div class="ellipse-1">
                    <div class="plus-rect-1"></div>
                    <div class="plus-rect-2"></div>
                </div>
            </div>
            <div class="account">
                <div class="icon"></div>
            </div>
        </div>
    <!-- </div> -->
    <script src="script.js"></script>
</body>
</html>