body{
  background: black;
  margin: 0px;
  justify-items: center;
  display: grid;
}
*{
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
button{
  background-color: #00000000;
  border: 1px solid #00000000;
}
.root {
  background: #0A0A0A;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  justify-items: center;
  display: grid;
}
.context-menu {
  background-image: -moz-linear-gradient( 90deg, rgb(11,19,59) 0%,
   rgb(11,19,59) 0%, rgb(13,33,88) 0%, rgb(43,79,255) 0%, rgb(0,115,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(11,19,59) 0%,
   rgb(11,19,59) 0%, rgb(13,33,88) 0%, rgb(43,79,255) 0%, rgb(0,115,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(11,19,59) 0%,
   rgb(11,19,59) 0%, rgb(13,33,88) 0%, rgb(43,79,255) 0%, rgb(0,115,255) 100%);
  position: fixed;
  justify-content: center;
  display: grid;
  align-items: center;
  place-items: center ;
  top: 90vh;
  width: min(660px, 90vw);
  height: 90px;
  border-radius: 50px;
  z-index: 2;
}
.account{
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 3px );
  position: absolute;
  left: 85%;
  top: 17px;
  width: 58px;
  height: 58px;
  z-index: 4;
}
.account .icon{
  margin: 0 auto;
  width: 50px;
  height: 50px;
  background-image: url("user.png");
  filter: invert(1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  position: absolute;
  left: 4px;
  top: 3px;
  transition: 70ms;
}
.icon{
  display: block;
  margin-left: auto;
  margin-right: auto }

.account:hover{
  box-shadow: 0 0 0px 1px rgb(255, 255, 255, 0.1);
  transition: 70ms;
}
.icon:active{
  filter: invert(0.85);
  transition: 30ms;
}
.account:active{
  box-shadow: 0 0 0px 2px rgb(255, 255, 255, 0.1);
  transition: 30ms;
}
.create{
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 3px );
  position: absolute;
  justify-content: center;
  background-position: center;
  width: 70px;
  height: 70px;
  z-index: 4;
}
.add{
  width: 62px;
  height: 62px;
  background-image: url("add\ circle.png");
  filter: invert(1);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  left: 4px;
  top: 4px;
}
.create:hover{
  box-shadow: 0 0 0px 1px rgb(255, 255, 255, 0.1);
  transition: 70ms;
}
.create:active{
  box-shadow: 0 0 0px 2px rgb(255, 255, 255, 0.1);
  transition: 30ms;
}
.add:active{
  filter: invert(0.85);
  transition: 30ms;
}
/*.create .plus{ шлеб
  margin: 0 auto;
  width: 70px;
  height: 70px;
  background-image: url("add.png");
  filter: invert(1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  position: absolute;
  left: -2px;
  top: -3px;
  transition: 70ms;*
}*/
div .wrapper{
  height: 100vh;
  width: 100vw;
}
div .noteWrap{
  height: 20vh;
  width: 100vw;
  border: 2px solid red;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: white;
  font-size: 40px;
  margin: 0px;
}
.saveChanges{
  background-image: -moz-linear-gradient( 90deg, rgb(11,19,59) 0%,
  rgb(11,19,59) 0%, rgb(13,33,88) 0%, rgb(43,79,255) 0%, rgb(0,115,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(11,19,59) 0%,
  rgb(11,19,59) 0%, rgb(13,33,88) 0%, rgb(43,79,255) 0%, rgb(0,115,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(11,19,59) 0%,
  rgb(11,19,59) 0%, rgb(13,33,88) 0%, rgb(43,79,255) 0%, rgb(0,115,255) 100%);
  position: absolute;
  height: 90px;
  border-radius: 50px;
}